.login{
display: flex;
  
}

.login_conatiner{
    display: flex;

}

.login_conatiner > img{
    object-fit: cover;
    height: 20px;
    background-color: #f2f2f2;
   
}

/* .login_btn{
    position: absolute;
    left: -476px;
    top: 32px;
} */
    